<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PomDemo"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="ExcelLib.ExcelDataProvider"/>
<listEntry value="ExcelLib.Excelconfig"/>
<listEntry value="ExcelLib.ExcelApi"/>
<listEntry value="com.pages.SelectFlight"/>
<listEntry value="com.pages.FlightFinder"/>
<listEntry value="com.SnapShot.SnapshotUtilty"/>
<listEntry value="com.pages.TestBase"/>
<listEntry value="com.pages.FlightBooker"/>
<listEntry value="com.pages.SignON"/>
<listEntry value="com.pages.HomePage_Register"/>
<listEntry value="com.test.Testcaller"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
