<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MercuryE2E" parallel="none">
  <test name="TEST BASE">
    <classes>
      <class name="com.pages.TestBase"/>
      <class name="com.pages.HomePage_Register"/>
       <class name="com.pages.SignON"/>
        <class name="com.pages.FlightFinder"/>
         <class name="com.pages.FlightBooker"/>
    </classes>
  </test> <!-- Test -->
  
 

</suite> <!-- Suite -->
